@import url('../GlobalColor.css');

.footer-text {
    text-align: center;
    color: var(--sub-title) !important;
}

.dark-mode {
    color: var(--text-color-dark) !important;
}

.footer-div {
    margin-top: 2rem;
    padding-bottom: 1rem;
}