@import url('../GlobalColor.css');

.dev-icons {
    padding-left: 0;
    list-style: none;
    font-size: 3rem;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

.software-skill-inline {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

.software-skill-inline>i {
    color: var(--sub-title);
}

.software-skill-inline>i:hover {
    color: var(--skills-Color);
}

.software-skill-inline>p {
    color: var(--sub-title);
    font-size: 10px;
}

.software-skill-inline>i:hover~p {
    color: var(--skills-Color);
}
.software-skills-main-div{
    margin: 0% 8% 0% 8%;
}